.container {
    min-height: 100vh;
    padding: 32px;
    background-color: #18212f;
    color: white;
}

.header {
    margin-bottom: 24px;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}